@media only screen and (max-width: 872px) {
  .skills-logo-container {
    flex-wrap: wrap;
    gap: 10px;
    height: 260px;
  }

  .skills-logo-container .skill-logo {
    height: 21vh;
  }

  .leftText {
    font-size: 26px;
  }

  .rightText {
    font-size: 26px;
  }

  .tagline {
    font-size: 14px;
    text-align: center;
  }

  .name-section {
    font-size: 26px;
  }

  .btn-class {
    padding: 10px;
    font-size: 16px;
    margin: 12px 0px;
  }

  .btn-class .btn1 {
    font-size: 10px;
  }

  .btn1 {
    padding: 10px 7px;
    margin: 0px 5px;
  }

  .nav-center ul li a {
    font-size: 15px;
    padding: 0px 5px;
  }
  .nav-center ul li {
    font-size: 0px 15px;
  }

  .nav-right li {
    margin: 0px 5px;
  }
  .nav-right-logo {
    width: 28px;
    height: 28px;
  }
  .nav-left {
    width: 13%;
  }

  .footer-right {
    /* font-size: 11px */
  }

  .footer-section {
    font-size: 12px;
  }

  .skill-logo {
    width: 140px;
    height: 20vw;
  }
  .tagline {
    padding: 0px 10px;
  }

  #navbar {
    justify-content: space-between;
  }
  .front-profile {
    height: 67vh;
  }

  .right-Developer-side:hover .btn1 {
    visibility: visible;
    opacity: 1;
    /* transition: none; */
  }
  /* .left-Programming-side:hover .btn1 {
    visibility: visible;
    opacity: 1;
    transition: none;
  } */
}

/* For mobiles phones */

@media only screen and (min-height: 650px) {
    .skills-logo-container .skill-logo {
        height: 21vw;
      }


    .front-profile{
        height: 66vw;
    }

}


@media only screen and (max-width: 568px) {

  .responsive-work{
    visibility: visible;
  }

  .responsive-work{
    visibility: visible;
  }


  .right-Developer-side{
    visibility: collapse;
  }

  .left-Programming-side{
    visibility: collapse;
  }

  .btn1{
    visibility: collapse;
  }

  .center-Profile-side{
    transition: transform .4s ease-in-out;
  }

  .left-transform{
    transform: translateX(-2%);
  }

  .btn1 a{
    font-size: 10px;
    padding: 0px;
  }

  .right-Developer-side{
    width: 50%;
    /* border: 2px solid red; */
    visibility: visible;
    padding: 4px;
  }
  .name-section{
    font-size: 16px;
  }

  .left-Programming-side{
    width: 0%;
  }

  .tagline{
    padding: 0px 5px;
    font-size: 10px;
  }

  .responsive-work{
    visibility: collapse;
  }

  .skill-name{
    font-size: 11px;
  }

  .skills-logo-container .skill-logo {
    height: 25vw;
    width: 95px;
}


  .skills-title{
    font-size: 24px;
  }



  .project-container{
  }


  .project-1{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .nav-left {
    width: 25%;
}

.nav-center {
  margin: 4px;
  width: 100%;
}


.nav-right {
  width: 60%;

}

#navbar {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}	


.nav-left .logo{
  height: 49px;
  width: 49px;
}

.nav-center ul li a{
  font-size: 14px;
}

.nav-right{
  height: 5vh;
}









}


