* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica;
  animation: opacity-trans 1s ease-in;
}

@keyframes opacity-trans {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.invert1 {
  filter: invert(1);
}

#navbar {
  position: sticky;
  top: 0;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #111111;
  padding: 0px 28px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.open-trans {
  animation: topcome 0.9s cubic-bezier(0.82, 1.07, 0.89, 1.05);
  /* animation-delay: 0.1s; */
  /* transition: transform .9s ease-in-out;
    transition-delay: 2s;
    transform: translateY(100%); */
}

@keyframes topcome {
  from {
    transform: translateY(-13vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.nav-left {
  width: 20%;
  /* height: 10vh; */
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.nav-left .logo {
  /* height: 100px; */
  background: url(images/logo-potfolio-right.png);
  height: 55px;
  width: 55px;
  margin: auto;
  padding: auto;
  /* border: 1px solid #000000; */
  border-radius: 31px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-left .logo:hover {
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.nav-center {
  width: 43%;
}

.nav-center ul li {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.nav-center ul li a {
  padding: 20px 0px;
}

.nav-center ul {
  display: flex;
  justify-content: space-evenly;
  /* align-content: center; */
  align-items: center;
  margin: auto;
}

.nav-center ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  transition: color 0.4s ease-in-out;
  font-weight: 400;
}

.nav-center ul li a:hover {
  color: rgb(151, 149, 149);
}

.nav-right {
  width: 24%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-bottom: 0px; /*ul and li have default border margin of 1 rem that why i overwrite it */
}

/* 
.github-logo font-0 img{
    visibility: hidden;
} */

/* .github-logo a{
    background: url(/images/github.png) center center/cover;
    height: 35px;
    width : 35px;
} */
/* .linkedin-logo a{
    background: url(/images/linkedin-logo.png) center center/cover;
    height: 35px;
    width : 35px;
}
.insta-logo a{
    background: url(/images/instagram-logo.png) center center/cover;
    height: 35px;
    width : 35px;

}
.tweeter-logo a{
    background: url(/images/twitter-logo.png) center center/cover;
    height: 35px;
    width : 35px;
    } */
.right-logo-trans {
  transition: filter 0.4s ease-in-out;
}
.right-logo-trans:hover {
  cursor: pointer;
  filter: invert(0.7);
}

/* profile section */

.front-profile {
  /* padding: 0rem 3rem; */

  /* border: 2px solid black; */
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: rgb(219 219 219 / 17%) ;

  background-blend-mode: darken;
}

.left-Programming-side {
  cursor: pointer;
  /* border: 2px solid black; */

  height: 80vh;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.responsive-work {
  visibility: collapse;
  background-color: white;
  color: black;
  font-size: 30px;
}

.responsive-work {
  visibility: collapse;
  background-color: white;
  color: black;
  font-size: 30px;
}
.leftText {
  font-weight: 700;
  margin: 0px;
  font-size: 43px;
  margin: 10px 0px;
}
.left-Programming-side .btn1 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.left-Programming-side:hover .btn1 {
  opacity: 1;
  visibility: visible;

  /* transform: scale(10%); */
}

.center-Profile-side {
  cursor: pointer;

  height: 80vh;
  /* border: 2px solid blue; */
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-Profile-side .profile-logo {
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 6px 4px rgb(218 225 196);
  border-radius: 48%;
  height: 26vw;
  width: 26vw;
  background: url(images/logo-potfolio-right.png) no-repeat center center /
    cover;
  transition: background 0.4s ease-in-out;
}
.profile-logo:hover {
  background: rgba(0, 0, 0, 0.2) url(images/logo-potfolio-right.png) no-repeat
    center center/cover;
  background-blend-mode: darken;
}

.name-section {
  font-weight: 700;
  font-size: 36px;

  margin: 1.5rem 0rem 0.3rem;
}
.tagline {
  margin: 0px;
  padding: 0px 36px;
  font-size: 17px;
}

.right-Developer-side {
  cursor: pointer;

  /* border: 2px solid red; */
  height: 80vh;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.right-Developer-side .btn1 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.right-Developer-side:hover .btn1 {
  opacity: 1;
  visibility: visible;

  /* transform: scale(10%); */
}

.rightText {
  margin: 10px 0px;
  font-size: 45px;

  font-weight: 700;

  /* margin: auto ; */
}

.color-black {
  color: black;
}

.btn-class {
  margin: 20px 0px;
  padding: 15px;
}

.btn1 {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #000000; /* Button color */
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  /* visibility: hidden; */
  /* display: none */
}
.btn1 {
  margin: 0px 10px;
  transition: color 0.4s ease-in-out;
}

.btn1:hover {
  color: rgb(151, 149, 149);
  text-decoration: none;
}

.skills {
}

.skills-title {
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 40px 0px;
}

.skills-logo-container {
  min-height: 30vh;
  display: flex;
  padding: 0 50px;
  justify-content: space-evenly;
}

.skill-logo {
  border: 1px solid rgba(0, 0, 0, 0.685);
  height: 16vw;
  width: 13vw;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill-img-section {
  margin: 5px 0px;
  width: 9vw;
  height: 9vw;
}

.skill-img-section {
  border-radius: 4vw;
}

#skill-logo3 .skill-img-section {
  background: url(images/tailcss.png) no-repeat center center/cover;
}

#skill-logo4 .skill-img-section {
  background: url(images/logo-potfolio-right.png) no-repeat center center/cover;
}

#skill-logo1 .skill-img-section {
  background: url(images/python-logo.png) no-repeat center center/cover;
}

#skill-logo3 .skill-img-section {
  background: url(images/tailcss.png) no-repeat center center/cover;
}

#skill-logo2 .skill-img-section {
  background: url(images/Unofficial_JavaScript_logo_2.svg) no-repeat center
    center/cover;
}

#skill-logo5 .skill-img-section {
  background: url(images/css-logo.png) no-repeat center center/cover;
}
.skill-name {
  margin: 5px 0px;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.skill-logo:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.footer-section {
  height: 12vh;
  padding: 0px 20px;
  /* border: 2px solid rgb(0, 0, 0); */
  margin: 2rem 0px 0px 0px;
  background-color: #f5f5f5;
  box-shadow: inset 0 3px 10px rgb(179 168 168 / 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section p {
  margin: 0px;
}

.footer-right {
  display: flex;
}

.footer-right p {
  margin: 0 15px;
}

.footer-right a {
  text-decoration: none;
  color: black;
}

.project-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 190vh;
  align-items: center;
}

.project-1 {
  width: 90%;
  border: 1px solid rgb(27, 27, 27);

  height: 40%;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  margin: 20px 0px;
  border-radius: 20px;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.project-info {
  width: 60%;
  /* border: 2px solid rgb(39, 36, 219); */
}

.project-img {
  width: 40%;
  /* border: 2px solid rgb(0, 217, 255); */
}

.project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}

.project-title h1 {
  font-size: 39px;
  font-weight: 700;
  margin: 20px 0px;
  color: #000;
}

.project-title p {
  font-size: 29px;
  padding: 0px 40px;
}

.project-img {
  margin: 9px;
  border-radius: 15px;
}

#project-1 .project-img {
  background: url("images/pexels-vanessa-loring-7869134.jpg") center
    center/cover;
}

#project-2 .project-img {
  background: url("images/pexels-mikhail-nilov-9242845.jpg") center center/cover;
}

#project-3 .project-img {
  background: url("images/pexels-mikhail-nilov-7988747.jpg") center center/cover;
}

#project-4 .project-img {
  background: url("images/pexels-cottonbro-4705623.jpg") center center/cover;
}

.project-info {
  padding: 0px 10px;
  text-align: center;
}

.project-info p {
  font-size: 19px;
  font-weight: 500;
  margin: 21px 0px;
}
.project-info h1 {
  margin: 20px 0px;
}

.project-info a {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  margin: 10px 0px;
}

.project-info a:hover {
  color: rgb(179, 176, 176);
  text-decoration: none;
}

.project-1:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(101%);
}

/* Contact form */

/* Global styles */
.container-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contact form container */
.contact-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
}

/* Form fields */
.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

/* Submit button */
.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.contact-form button:hover {
  background-color: #3a3939;
}

.contact-form-container {
  transition: box-shadow 0.4s ease-in-out;
}

.contact-form-container:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.Manu-icon-btn {
  position: absolute;
  visibility: collapse;
  z-index: 200;
  background-color: #000;
  box-shadow: 0px 0px 0px 0px;
  right: 0px;
}
.Manu-icon-btn img {
  width: 30px;
  height: 30px;
  border: none;
  filter: invert(1);
}

/* .Manu-icon-btn img; */


/* latest section */





.latest-projects{
  background-color: #fafafa;
  margin: 40px 0px;
  height: 80vh;
  width: 98vw;
  /* border: 2px solid red; */

}

.latest-projects-containers{
  width: 98vw;
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.latest-projects a{
  text-decoration: none;
}
.latest-projects h1{
  color: #000;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.latest-project-container{
  border: 1px solid rgb(182, 182, 182);
  width: 31%;
  height: 57vh;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: center; */

}




.img-latest-project-section{
  /* border: 2px solid yellow; */
  width: 92%;
  height: 45vh;
  /* display: flex: 1 1 auto;; */
  border-radius: 15px;
  margin: 15px auto;
  margin-bottom: 10px;
}

#img-latest-project-section1{
  background: rgb(0, 0, 0, .9) url(images/shopping\ website.jpeg) no-repeat center center/cover;

}

#img-latest-project-section2{
  background: rgb(0, 0, 0, 0.2) url(images/music-player-7792956_1920.jpg) no-repeat center center/cover;

}

#img-latest-project-section3{
  background: rgba(0, 0, 0, 0.2) url(images/bank-6406011_1920.png) no-repeat center center/cover;

}


.info-latest-project-section{
  /* border: 2px solid blue; */
  width: 92%;
  height: 25%;
  margin: auto;
  text-decoration: none;
}


.info-latest-project-section h1{
  margin: 0px;
  padding: 8px 0px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}


.latest-projects a:hover{
  text-decoration: none;
}


.latest-project-container{
  transition: all 0.4s ease-in-out;
}

.latest-project-container:hover{
  background-color: #fafafa;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}


